version: "3.9"

x-environment-defaults: &env_defaults
  WORDLISTS: ${WORDLISTS:-/usr/share/seclists}
  LOGS: ${LOGS:-./reconsage_logs}

services:
  reconsage:
    image: mokshmalde/reconsage:v1.1.4
    container_name: reconsage
    restart: unless-stopped
    network_mode: "host"              # Linux only
    environment:
      - WORDLISTS_PATH=/wordlists
      - RECONSAGE_LOGS=/home/appuser/reconsage_logs
      - PYTHONUNBUFFERED=1
    volumes:
      - ${WORDLISTS}:/wordlists:ro
      - ${LOGS}:/home/appuser/reconsage_logs
    healthcheck:
      test: ["CMD-SHELL", "python -c \"import requests; requests.get('http://localhost:8000/', timeout=1)\""]
      interval: 30s
      timeout: 3s
      retries: 3
